// PressStart2P
// - Regular (400)
@font-face {
    font-family: "PressStart2P";
    src: url("/assets/fonts/PressStart2P/PressStart2P-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
